extends layout

block mainContent
  .jumbotron
    .header
      h3.text-muted Game on
      .row
        .col-md-4.col-md-offset-4
          table.table.sttt(id = gameId)
            if gameType == 3
              include table3
            else
              include table9

          select.form-control#playerMarker(disabled = true)
            option#x(selected = player === "x") X
            option#o(selected = player === "o") O
          h4.label.label-primary Next Move by player :&nbsp
            span.turn X



