extends layout

block mainContent
  .jumbotron
    .header
      h3.text-muted Game on
      .row
        .col-md-4.col-md-offset-4
          table.table.sttt(id = gameId)
            tr
              td#A1.stBlock
              td#A2.stBlock
              td#A3.stBlock
            tr
              td#B1.stBlock
              td#B2.stBlock
              td#B3.stBlock
            tr
              td#C1.stBlock
              td#C2.stBlock
              td#C3.stBlock
          select.form-control#playerMarker(disabled = true)
            option#x(selected = player === "x") X
            option#o(selected = player === "o") O
          h4.label.label-primary Next Move by player :&nbsp
            span.turn X



