!!!5
html
  head
    title = "Super Tic Tac Toe"
    script(type="text/javascript", src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(type="text/javascript", src="js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css", type="text/css")
    script(type="text/javascript", src="socket.io/socket.io.js")
    script(type="text/javascript", src="js/game.js")
  body
    .container
      .header
        h3.text-muted Game on
