extends layout

block mainContent
  .jumbotron
    h3 Super Tic Tac Toe
    p.lead "Super tic-tac-toe is played like Nine board tic-tac-toe except that the game does not end when a player wins a game on one of the small boards. Instead, the position of the small board where that player won is marked on a 3×3 grid, and a player wins when they form 3-in-a-row on that grid"
    a(href="game/" + id).btn.btn-primary.pull-left Start a new game