tr
  td
    table.table.sttt#T1
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock