table.table.sttt
  tr
    td#A1.stBlock
    td#A2.stBlock
    td#A3.stBlock
  tr
    td#B1.stBlock
    td#B2.stBlock
    td#B3.stBlock
  tr
    td#C1.stBlock
    td#C2.stBlock
    td#C3.stBlock
//- need to create a 9 X 9 table