//- Row 1
tr
  td
    table.table.sttt#T1
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock
  td
    table.table.sttt#T2
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock
  td
    table.table.sttt#T3
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock
//- Row 2
tr
  td
    table.table.sttt#T4
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock
  td
    table.table.sttt#T5
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock
  td
    table.table.sttt#T6
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock
//- Row 3
tr
  td
    table.table.sttt#T7
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock
  td
    table.table.sttt#T8
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock
  td
    table.table.sttt#T9
      tr
        td.B1.stBlock
        td.B2.stBlock
        td.B3.stBlock
      tr
        td.B4.stBlock
        td.B5.stBlock
        td.B6.stBlock
      tr
        td.B7.stBlock
        td.B8.stBlock
        td.B9.stBlock
