div(tabindex="-1", role="dialog", aria-labelledby="winnerModal", aria-hidden="true").modal.fade#winModal
  .modal-dialog
    .modal-content
      .modal-header
        button(type = "button", data-dismiss="modal", aria-hidden="true").close &times;
        h4.modal-title Game Over
      .modal-body
        h3 Game Over!!
        p.game-result
      .modal-footer
        button(type = "button", data-dismiss="modal" ).btn.btn-default Close
